@font-face {
    font-family: 'podkova';
    src: url('fonts/podkova.ttf') format('truetype');
}

@font-face {
    font-family: 'manrope';
    src: url('fonts/manrope.ttf') format('truetype');
}

html, body{
    background-color: #3D251E;
    color: #F2E7D4;
    margin: 0;
    height: 100%;
    text-wrap: pretty;
}

* {
    box-sizing: border-box;
}

/*header*/
header {
    background-color: #F2E7D4;
    color: #3D251E;
    width: 100%;
    box-shadow: 0px 6px 6px rgb(0, 0, 0, 0.2);
}

header a:link {
    color: #84563C;
}

header a:visited {
    color: #954A41;
}

/*hamburger menu*/
    /*overall*/
.menu {
    vertical-align: center;
    text-align: center;
    font-family: 'podkova';
    font-size: 1.2rem;
    }

    /*header box*/
    .top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #F2E7D4;
    height: 75px;
    padding: 1em;
    }
    /*hamburger icon*/
    .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
    
    .menu > li {
    margin: 0 1rem;
    overflow: hidden;
    }
    
    .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    
    #menu-toggle {
    display: none;
    }
    
    .menu-button,
    .menu-button::before,
    .menu-button::after {
    display: block;
    background-color: #3D251E;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
    }
    
    .menu-button::before {
    content: '';
    margin-top: -8px;
    }
    
    .menu-button::after {
    content: '';
    margin-top: 8px;
    }
    
    #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
    }
    
    #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
    }
    
    #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
    }
    
    /*Pop-up Menu*/
    @media (max-width: 700px) {
    .menu-button-container {
        display: flex;
    }
    .menu {
        position: absolute;
        top: 0;
        margin-top: 75px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
        border: .5px solid #3D251E;
        height: 3em;
        padding: .5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 1em 0;
        width: 100%;
        background-color: #F2E7D4;
    }
    }

/*all text*/    

/*headers*/
h1, h2, h3, h4, h5, h6{
    font-family: 'podkova', serif;
}

/*main text*/
p, ul {
    font-family: 'manrope', sans-serif;
    font-size: .825rem;
    font-weight: 275;
}

ul {
    padding-left: 20px;
}

    /*main text links*/
p a:link {
    color: #B08C69;
}

p a:visited{
    color:#D3A292
}

/*images*/
img {
    max-width: 100%;
}

/*footer*/
footer {
    padding: 5px;
    text-align: center;
    background-color: #F2E7D4;
    color: #3D251E;
}

footer h3 {
    box-sizing: border-box;
    height: 20px;
}

/*Homepage*/
.intro-message {
    text-align:center;
}

